@model MedicineProjects.Models.MedicineStock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedicineStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine.MedicineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine.MedicineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblSalePoint.SalePointName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblSalePoint.SalePointName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedicineStockId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
