@model MedicineProjects.Models.MedicineSale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedicineSale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicineStockStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineStockStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetTotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetTotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine.MedicineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine.MedicineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblSalePoint.SalePointName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblSalePoint.SalePointName)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MedicineSaleId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
