@model MedicineProjects.Models.MedicineSupplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedicineSupplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicineSupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineSupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedicineSupplierId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
